@import "tailwindcss";


astro-dev-toolbar {
    display: none !important;
  }

  @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

  .font-dosis {
    font-family: 'Dosis';
  }

  .font-nunito {
    font-family: 'Nunito';
}

html {
    scroll-behavior: smooth;
  }

body{
    background-color: #FAEADD;
}
