@import 'tailwindcss';
@plugin '@tailwindcss/typography';

astro-dev-toolbar {
    display: none !important;
  }

  .font-dosis {
    font-family: 'Dosis';
  }

  .font-nunito {
    font-family: 'Nunito';
}

html {
    scroll-behavior: smooth;
  }

body{
    background-color: #FAEADD;
}