<nav class="flex flex-col md:flex-row justify-between items-center p-4 md:p-6 bg-[#FAEADD] text-[#522A6F] shadow-lg rounded-b-xl border-b-4 border-[#522A6F]">
    
    <div class="hidden md:absolute md:left-1/2 md:transform md:-translate-x-1/2">
      <span class="material-icons text-3xl md:text-4xl text-[#F29CB7] drop-shadow-[0_2px_4px_rgba(82,42,111,0.1)]">
        favorite
      </span>
    </div>

    <div class="flex flex-col md:flex-row md:items-baseline space-y-1 md:space-y-0 md:space-x-2 bg-white/30 backdrop-blur-sm px-4 py-2 rounded-full border-2 border-[#522A6F]/10 w-full md:w-auto text-center md:text-left mb-4 md:mb-0">
      <span class="font-dosis font-bold text-2xl md:text-3xl leading-none tracking-tighter">
        Jessica Raudales
      </span>
      <div class="hidden md:flex space-x-2 items-center">
        <span class="text-[#522A6F]">|</span>
        <span class="font-dosis text-base md:text-lg leading-none bg-gradient-to-r from-[#522A6F] to-[#F29CB7] bg-clip-text text-transparent">
          Frontend Developer
        </span>
        <span class="text-[#522A6F]">|</span>
        <span class="font-dosis text-base md:text-lg leading-none bg-gradient-to-r from-[#F29CB7] to-[#522A6F] bg-clip-text text-transparent">
          Database Admin
        </span>
      </div>
    </div>
  
    <ul class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-6 lg:space-x-8">
      <li>
        <a href="#about" class="group relative text-base md:text-lg hover:text-[#FBCF4F] transition-all duration-300 font-dosis font-semibold tracking-wide">
          Sobre Mi
          <div class="absolute bottom-0 h-[2px] bg-[#FBCF4F] w-0 group-hover:w-full transition-all duration-300"></div>
        </a>
      </li>
      <li>
        <a href="/projects" class="group relative text-base md:text-lg hover:text-[#F29CB7] transition-all duration-300 font-dosis font-semibold tracking-wide">
          Proyectos
          <div class="absolute bottom-0 h-[2px] bg-[#F29CB7] w-0 group-hover:w-full transition-all duration-300"></div>
        </a>
      </li>
      <li>
        <a href="#footer" class="group relative text-base md:text-lg hover:text-[#DDAAFF] transition-all duration-300 font-dosis font-semibold tracking-wide">
          Contacto
          <div class="absolute bottom-0 h-[2px] bg-[#DDAAFF] w-0 group-hover:w-full transition-all duration-300"></div>
        </a>
      </li>
    </ul>
</nav>